/* line 1, ../sass/afficher.scss */
body {
  text-align: center;
}

/* line 6, ../sass/afficher.scss */
.header a {
  text-decoration: none;
  color: black;
}

/* line 12, ../sass/afficher.scss */
.barre-recherche {
  margin-bottom: 1em;
}
@media only screen and (min-width: 920px) {
  /* line 12, ../sass/afficher.scss */
  .barre-recherche {
    display: inline-block;
    margin-top: 0.5em;
  }
}

/* line 21, ../sass/afficher.scss */
.categorie {
  display: inline-block;
}
@media only screen and (min-width: 920px) {
  /* line 21, ../sass/afficher.scss */
  .categorie {
    display: inline-block;
  }
}

/* line 28, ../sass/afficher.scss */
.bouton {
  display: inline-block;
  margin-bottom: 1em;
}
@media only screen and (min-width: 920px) {
  /* line 28, ../sass/afficher.scss */
  .bouton {
    display: inline-block;
  }
}

/* line 37, ../sass/afficher.scss */
.annonce {
  height: 130px;
}
/* line 39, ../sass/afficher.scss */
.annonce .image {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 5px;
}
/* line 45, ../sass/afficher.scss */
.annonce .image img {
  width: 100%;
}

/* line 51, ../sass/afficher.scss */
.text {
  text-align: left;
  margin-bottom: 15px;
}

/* line 56, ../sass/afficher.scss */
.prix {
  float: left;
  margin-left: 0;
  font-weight: bold;
}

/* line 62, ../sass/afficher.scss */
.btn-red {
  float: right;
  margin-right: 10px;
}
