/* line 1, ../sass/racoin.scss */
body {
  text-align: center;
}

/* line 5, ../sass/racoin.scss */
.barre-recherche {
  margin-bottom: 1em;
}
@media only screen and (min-width: 920px) {
  /* line 5, ../sass/racoin.scss */
  .barre-recherche {
    display: inline-block;
    margin-top: 0.5em;
  }
}

/* line 14, ../sass/racoin.scss */
.categorie {
  display: inline-block;
}
@media only screen and (min-width: 920px) {
  /* line 14, ../sass/racoin.scss */
  .categorie {
    display: inline-block;
  }
}

/* line 22, ../sass/racoin.scss */
.bouton {
  display: inline-block;
  margin-bottom: 1em;
}
@media only screen and (min-width: 920px) {
  /* line 22, ../sass/racoin.scss */
  .bouton {
    display: inline-block;
  }
}

@media only screen and (min-width: 920px) {
  /* line 31, ../sass/racoin.scss */
  .compte {
    height: 100px;
    line-height: 100px;
  }
}

/* line 38, ../sass/racoin.scss */
.menu {
  margin-bottom: 2em;
}
/* line 41, ../sass/racoin.scss */
.menu div {
  border: solid 1px;
  padding: 0.5em;
}
@media only screen and (min-width: 920px) {
  /* line 41, ../sass/racoin.scss */
  .menu div {
    height: 100px;
    line-height: 90px;
  }
}
/* line 51, ../sass/racoin.scss */
.menu .connexion {
  border-bottom: none;
}
/* line 55, ../sass/racoin.scss */
.menu .ajout {
  border-top: none;
  border-bottom: none;
}
/* line 60, ../sass/racoin.scss */
.menu a {
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}

/* line 74, ../sass/racoin.scss */
.afficher a {
  text-decoration: none;
}
