body {
	text-align: center;
}

.header {
	a {
		text-decoration: none;
		color: black;
	}
}

.barre-recherche {
	margin-bottom: 1em;

	@media only screen and (min-width: 920px) {
		display: inline-block;
		margin-top: 0.5em;
	}
}

.categorie {
	display: inline-block;
	@media only screen and (min-width: 920px) {
		display: inline-block;
	}
}

.bouton {
	display: inline-block;
	margin-bottom: 1em;
	
	@media only screen and (min-width: 920px) {
		display: inline-block;
	}
}

.annonce {
	height: 130px;
	.image {
		float: left;
		width: 100px;
		height: 100px;
		margin-right: 5px;

		img {
			width: 100%;
		}
	}
}

.text {
	text-align: left;
	margin-bottom: 15px;
}

.prix {
	float: left;
	margin-left: 0;
	font-weight: bold;
}

.btn-red {
	float: right;
	margin-right: 10px;
}